@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Noto+Sans+Wancho&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
}

html {
    /*Granite*/
    --Blue1: #3A7B99;
    --Blue2: #70AFCE;
    --Blue3: #A5DEF1;
    --White1: #F7FBFA;

    /*Riot*/
    --Red: #FA4753;
    --Black1: #17181C;
    --Black2: #161127;
    --White2: #E5E5E5;
    --Cinza: #26262b;
}

body {
    background-color: #1E1B18;
}

body::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    border: 3px solid orange;
}

.header {
    background-color: var(--Red);
    border-bottom: 1px solid black;
}

.introduction {
    background-image: url(mountains-3270710.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    min-height: 90vh;
}

.introduction .card_intro h1 {
    padding-top: 5rem;
    font-size: 34px;
    font-weight: 700;
    font-family: 'Noto Sans Wancho';
}

.card_intro {
    display: flex;
    justify-content: center;
}

.container{
    height: 90vh;
    background: rgba(0, 0, 0, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.card_turma {
    background-color: var(--Black2);
    color: var(--White1);
}

.card_turma h2 {
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    display: flex;
    font-size: 23px;
    justify-content: center;
}

.logo {
    padding-top: 20px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}

.icon {
    width: 100px;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

li {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
}

.content a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 400;
}

.turmas {
 background-color: var(--Black2);   
}

.title {
    padding-bottom: 0.3rem;
    display: flex;
    justify-content: center;
}

.title h1 {
    font-size: 1.3rem;
}

.card {
    /*background-image: linear-gradient(135deg, 6d142d 0%, #D8315B 77%);
    */
    background-color: var(--Black2);
    border: 1px solid var(--White1);
    margin-top: 2.5rem;
    padding-top: 1.9rem;
    padding-left: 0.9rem;
    padding-bottom: 1.9rem;
    padding-right: 0.9rem;
    color: aliceblue;
    box-shadow:
        0px 0px 4.3px rgba(0, 0, 0, 0.062),
        0px 0px 8px rgba(0, 0, 0, 0.089),
        0px 0px 12.2px rgba(0, 0, 0, 0.11),
        0px 0px 17.7px rgba(0, 0, 0, 0.131),
        0px 0px 25.8px rgba(0, 0, 0, 0.158),
        0px 0px 45px rgba(154, 154, 154, 0.22);
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 18rem;
}


.botão {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 18vh;
}

.container .group label {
    margin-top: 0.3rem;
}

.container .group {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}

.btn {
    margin-top: 10px;
    background-color: var(--Black2);
    outline: none;
    color: aliceblue;
    display: flex;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-right: 4rem;
    padding-left: 4rem;
    font-size: 0.8rem;
    font-weight: 700;
    border: 1px solid var(--White1);
    border-radius: 4px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--White1);
    color: var(--Black2);
    cursor: pointer;
}

.active {
    background-color: var(--Black2);
    display: flex;
    justify-content: center;
    color: aliceblue;
    padding: 2rem;
}


td,
th,
tr {
    border-collapse: collapse;
    border: 2px solid rgb(89, 89, 89);
    padding: 10px;
}

table {
    border-collapse: collapse;
}

input::placeholder {
    color: aliceblue;
}

input,
select {
    margin-top: 2rem;
    outline: none;
    border: none;
    background-color: var(--Black2);
    color: aliceblue;
}

.group {
    position: relative;
}

select {
    -webkit-appearance: none;
    cursor: pointer;
}

.group .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.5);
}

.group .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0px;
    background-color: var(--White1);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.group input:focus~.underline::after {
    transform: scaleX(1);
}